<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>YTS</title>
  <link rel="shortcut icon" type="images" href="images/logo.jpg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="../style.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<!--<body>
  <header class="header">
    <a href="index.html" class="logo">
      <i class="fas fa-user-graduate"></i> YTS
    </a>

    <div id="menu-btn" class="fas fa-bars"></div>

    <nav class="navbar">
      <ul>
        <li><a href="../index.html">HOME</a></li>
        <li><a href="./about.html">ABOUT</a></li>
        <li><a href="./gallery.html">GALLERY</a></li>
         <li><a href="./blog.html">BLOG</a></li> --
        <li><a href="./contact.html">CONTACT US</a></li>
        <li><a href="placements.html">PLACEMENTS</a></li>
        <li><a href="./login.html">LOGIN</a></li>
      </ul>
    </nav>
  </header>-->
<section id="section-wrapper">
  <div class="box-wrapper">
    <div class="info-wrap">
      <h2 class="info-title">Contact Information-</h2>
      <h3 class="info-sub-title">Fill up the form and our team will get
        to you within 24 hours.
      </h3>
      <ul class="info-details">
        <li>
          <i class="fa fa-phone-alt"></i>
          <span>Phone:</span><a href="#">123456789</a>
        </li>
        <li>
          <i class="fa fa-envelope"></i>
          <span>Email:</span><a href="#">dk0170607@gmail.com</a>

        </li>
        <li>
          <i class="fa fa-globe"></i>
          <span>Website:</span><a href="#">yoursite.com</a>
        </li>
      </ul>
      <h3 class="info-sub-title">Fill up the form and our team will get
        to you within 24 hours.
        Department Point of Contact Contact Details-
        Email Helpdesk Customer Care 0120‑4832500 ApplHelpdeskmca govin
        CRC Customer Care 0120‑4832500 CRCEscalation mcagovin
        E‑Gov Sh. Vivek Deputy Director 011‑23073017 ddegovmca govin
      </h3>
      <ul class="social-icons">
        <li>
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
      <div class="form-wrap">
        <form action="#" method="Post">
          <h2 class="form-title">Send Your Message</h2>
          <div class="form-fields">
            <div class="form-group">
              <input type="text" class="fname" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" class="lname" placeholder="Last Name">
            </div>
            <div class="form-group">
              <input type="email" class="email" placeholder="Mail">
            </div>
            <div class="form-group">
              <input type="number" class="phone" placeholder="Phone">
            </div>
            <div class="form-group">
              <textarea name="message" id="" placeholder="Write your message"></textarea>
            </div>
          </div>
          <input type="submit" value="send message" class="submit-button">

        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>